<div class="container d-flex h-100 justify-content-center align-items-center mt-3">
  <div>
    <h1 class ="fs-3">Ask something to stupid coach</h1>
    <form action="/answer" data-turbo="false" class="row g-3">
      <div class="col-auto">
        <input type="text" name="question" class="form-control mb-3 ">
      </div>
      <div class="col-auto">
        <input type="submit" value="Ask!" class="btn btn-primary mb-3">
      </div>
    </form>
  </div>
</div>
